alembic==1.7.4
astroid==2.8.5
attrs==21.2.0
boto3==1.20.8
botocore==1.23.8
certifi==2021.10.8
chardet==4.0.0
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
dnslib==0.9.16
dnspython==2.1.0
docker==5.0.0
dulwich==0.20.26
Flask==1.1.4
Flask-Cors==3.0.10
Flask-JWT==0.3.2
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
Flask-WTF==1.0.0
greenlet==1.1.2
gunicorn==20.1.0
idna==2.10
importlib-resources==5.4.0
iniconfig==1.1.1
isort==5.10.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
lazy-object-proxy==1.6.0
localstack-client==1.26
localstack-ext==0.13.0
localstack-plugin-loader==1.1.1
Mako==1.1.5
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==21.2
pbr==5.7.0
platformdirs==2.4.0
pluggy==1.0.0
psycopg2==2.9.1
py==1.11.0
pyaes==1.6.1
Pygments==2.10.0
PyJWT==1.4.2
pylint==2.11.1
pylint-flask-sqlalchemy==0.2.0
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
python-editor==1.0.4
PyYAML==6.0
requests==2.25.1
rich==10.14.0
s3transfer==0.5.0
semver==2.13.0
six==1.16.0
SQLAlchemy==1.4.26
stevedore==3.5.0
tabulate==0.8.9
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
websocket-client==1.2.1
Werkzeug==0.16.1
wrapt==1.13.3
WTForms==3.0.0
zipp==3.6.0
